{
  "presets": [
    "env"
  ],
  "plugins": [
    "@babel/plugin-proposal-class-properties",
    "transform-runtime",
    [
      "transform-react-jsx",
      {
        "pragma": "React.createElement"
      }
    ]
  ]
}